#debug 1
server_name      <your IRC server>
server_port      6667
nick             GIR
nickserv_pass    <nickserv pass
channels         #GIR #chat
module_dir       /home/gir/Modules/
data_dir         /home/gir/Modules/data
8ball            /home/git/Modules/data/8ball.txt
allowed_channels #GIR #chat #another
ignore_list      /home/gir/Modules/data/ignore.txt
db_user          ircbot
db_pass          <db password>
db_name          ircbot
max_nest         3

