---
8ball: /home/ircbot/Modules/data/8ball.txt
channels:
  allowed:
    - '#yourchan'
    - '#anotherchan'
  join:
    - '#yourchan'
data_dir: /home/ircbot/Modules/data
database:
  name: ircbot
  password: <your db password>
  user: ircbot
debug: 0
ignore_list: /home/ircbot/Modules/data/ignore.txt
infobot_min_length: 2
max_nest: 4
module_dir: /home/ircbot/Modules/
name: InfoBot
nick: InfoBot
server:
  host: irc.slashnet.org
  port: 6667
username: ircbot

